.product-name{
    display: ruby-text;
}

.product-name > div.quantity.buttons_added{
width:20%;
}
.product-name > div.cqoc_container{
width:70%;
}

.cqoc_product_name{
  color: #025CB7;
  font-size: 16px;
	margin-top: -3px;
}

a.remove::before {
	line-height:1;
}

body .quantity .plus, body .quantity .minus {
    display: none;
}
